@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
} /* to remove default css padding and margin settings*/

body {
	font-family: Montserrat, sans-serif;
	background-color: #CC8BAE;
}

header {

    color: #6c0674;
    padding: 10px;
    text-align: center;
    width: 500px
    font-size:5em;
}

p {margin-top:10px;
	font-weight: 300;
}

nav {
	background-color: #c56ccc;

}

ul {
	text-align: center;
	padding: 10px
}

li{
	display: inline;
}

a {
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
	width: 200px;
}

a:hover {
    color: white;
}

a:active {
	color: #FF878C;
}

img {
	display: block;
/*	width: 30%;*/
	margin: auto;
	padding: 10px;
	background-color: #CC8BAE;

	/*float: left;*/
}

nav {
	padding: 10px;
}

aside {

	border: 1px ;
}

article {
	border: 1px ;
}

form{
  border: 1px ;
  text-align: center;
  padding: 0px;
}
footer {
	background-color:#6c0674;
	text-align: center;
	padding: 10px;
}

#wrapper {
	width: 960px;
	margin: 10px auto;
}

#two_columns {
	padding: 20px;
}

#left {
    padding: 10px;
    margin: 0px; /*try changing the values of the margin*/
    float: left;
    width: 38%; /* left element’s width will be 3% of the available space */
}

#bottom{
    
    padding: 20px;
    float: center;
    width: 100%; /*right element’s width will be 60% of the available space*/

}
#right {
    margin-top:20px;
    padding: 0px;
    float: right;
    width: 62%; /*right element’s width will be 60% of the available space*/

}

.clearfix:after { /* once you float elements that are nested inside a parent element it no longer add to the height of that parent element, you should use clearfix to get the two columns*/
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}